.swiperMobile {
  height: 270px;

  @media (min-width: 376px) and (max-width: 767px) {
    height: calc(270px + 280 * (100vw - 376px) / 391);
  }
  @media (min-width: 768px) {
    height: 550px;
  }
  @media (min-width: 1280px) {
    display: none;
  }
}
