.bookingForm {
  display: flex;
  justify-content: space-between;
  width: 791px;
  padding: 10px 30px 10px 30px;
  border-radius: 8px;
  border: 1px solid rgb(var(--color-base-green));
}
.bookingLabel {
  font-family: var(--f-family-main);
  font-size: var(--f-size-body);
  margin-bottom: 12px;
}
//styleName: Body Light;

.labelWraper {
  display: flex;
  flex-direction: column;
}
.inputWrapper {
  display: flex;
}

.bookingInput {
  width: 115px;
}
.bookingOpenButton {
  position: relative;
  width: 24px;
}

.downIcon {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.buttonSearch {
  font-size: var(--f-size-button-small);
  padding: 14px 24px;
}
