@use "../../styles/mixins" as mixins;
@use "../../styles/variables";

.bookingComponentContainer {
  width: 276px;
  position: relative;
    
  //temporary styles
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 37px;

  @include mixins.media-min(variables.$mobile) {
    width: 708px;

    //temporary styles
    margin-bottom: 120px;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    width: 791px;

    //temporary styles
    margin-left: auto;
    margin-right: 0;
    padding-right: 50px;
  }

  & input {
    text-align: end;
    margin: 0;
    font-weight: 700;
    line-height: 1.1;
    color: rgb(var(--color-total-black));

    &:focus {
      outline: none;
    }
  }
}

.bookingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 16px 30px;
  border-radius: 8px;
  border: 1px solid rgb(var(--color-base-green));
  font-family: var(--f-family-main);
  font-size: var(--f-size-body);

  @include mixins.media-min(variables.$mobile) {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
  }
}

.dateWrapper,
.guestWrapper {
  flex: 0 1 auto;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  width: 100%;

  &, & * {
    cursor: pointer;
  }

  @include mixins.media-min(variables.$mobile) {
    width: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 15px 12px;
  }
}

.dateWrapper {
  @include mixins.media-min(variables.$mobile) {
    grid-template-areas:
      "a b"
      "c b";
  }
}

.guestWrapper {
  @include mixins.media-min(variables.$mobile) {
    grid-template-areas:
      "e e"
      "d f";
    gap: 15px 8px;
  }
}

.dateLabel,
.guestLegend {
  line-height: 1.16;
  @include mixins.media-max(variables.$mobile) {
    flex: 1 0;
  }
}

.dateLabel {
  @include mixins.media-min(variables.$mobile) {
    grid-area: a;
    text-align: end;
  }
}
.dateInput {
  max-width: 95px;
  letter-spacing: 0.005em;
  line-height: 1.1;

  @include mixins.media-min(variables.$mobile) {
    grid-area: c;
  }
}
.bookingOpenButton {
  width: 24px;
  height: 20px;

  @include mixins.media-min(variables.$mobile) {
    grid-area: b;
    align-self: end;
  }
}

.guestLegend {
  
 @include mixins.media-min(variables.$mobile) {
    grid-area: e;
    text-align: center;
  }
}
.guestWrapper > .adultLabel,
.guestWrapper > .childLabel  {
  font-weight: 700;
  & > input {
    max-width: 20px;
  }
}
.guestWrapper > .adultLabel {
  @include mixins.media-min(variables.$mobile) {
    grid-area: d;
  }
}
.guestWrapper > .childLabel {
  @include mixins.media-min(variables.$mobile) {
    grid-area: f;
  }
}

.buttonSearch {
  font-size: var(--f-size-button-small);
  align-self: center;
  & > button {
    padding: unset;
    line-height: 46px;
  }
}