@use "../../styles/mixins" as mixins;
@use "../../styles/variables";

.bookingComponentContainer {
  width: 276px;
<<<<<<< HEAD
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 37px;
=======
>>>>>>> 5a28b413a7eea541795a727d3e7a5a390ead1c01
  position: relative;

  @include mixins.media-min(variables.$mobile) {
    width: 708px;
<<<<<<< HEAD
    margin-bottom: 120px;
=======
>>>>>>> 5a28b413a7eea541795a727d3e7a5a390ead1c01
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    width: 791px;
<<<<<<< HEAD
    margin-left: auto;
    margin-right: 0;
    padding-right: 50px;
  }
}
=======
  }
}

>>>>>>> 5a28b413a7eea541795a727d3e7a5a390ead1c01
.bookingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
<<<<<<< HEAD
  width: 100%;
  padding: 16px 30px 16px 30px;
  border-radius: 8px;
  border: 1px solid rgb(var(--color-base-green));

  @include mixins.media-min(variables.$mobile) {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
  }
}
.bookingLabel {
  font-family: var(--f-family-main);
  font-size: var(--f-size-body);
  cursor: pointer;

  @include mixins.media-min(variables.$mobile) {
    margin-bottom: 12px;
  }
}

.labelWraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  @include mixins.media-min(variables.$mobile) {
    flex-direction: column;
  }
}

.labelWrapperCalendar {
  width: 100%;
  @include mixins.media-min(variables.$mobile) {
    width: 120px;
  }
}

.labelWrapperGuests {
  width: 100%;
  @include mixins.media-min(variables.$mobile) {
    width: 140px;
  }
}

.inputWrapper {
  cursor: pointer;
  display: flex;

  @include mixins.media-min(variables.$mobile) {
    width: 100%;
    justify-content: space-between;
  }
}

.bookingInput {
  box-sizing: border-box;
  margin: 0;
  width: 95px;
  font-family: var(--f-family-main);
  font-size: var(--f-size-body);
  font-weight: 700;
  color: rgb(var(--color-total-black));
  cursor: pointer;
=======
  padding: 16px 25px;
  border-radius: 8px;
  border: 1px solid rgb(var(--color-base-green));
  font-family: var(--f-family-main);
  font-size: var(--f-size-body);

  @include mixins.media-min(variables.$mobile) {
    flex-direction: row;
    gap: unset;
    justify-content: space-between;
    padding: 10px 30px;
  }
}

.dateWrapper,
.guestWrapper {
  width: 100%;
  &,
  & * {
    cursor: pointer;
  }
  transition: transform 0.3s;
  will-change: contents;
  @include mixins.media-min(variables.$mobile) {
    @media (hover: hover) {
      &:hover {
        transform: translateY(-4px);
        .dateOpenButton,
        .guestOpenButton {
          scale: 1.3;
          color: rgb(var(--color-natural-orange));
        }
      }
    }
  }
}

.dateWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  @include mixins.media-min(variables.$mobile) {
    width: auto;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-template-areas:
      "a ."
      "c b";
    gap: 12px;
  }
}

.guestWrapper {
  display: grid;
  grid-auto-columns: 1fr 1fr auto;
  grid-auto-rows: auto;
  column-gap: 6px;
  align-items: center;
  grid-template-areas:
    "e d g"
    ". f g";
  @include mixins.media-min(variables.$mobile) {
    width: auto;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-template-areas:
      "e e e"
      "d f g";
    gap: 12px 8px;
  }
}

.dateLabel,
.guestLegend {
  line-height: 1.16;
  font-weight: 300;
  @include mixins.media-max(variables.$mobile) {
    flex: 1 0;
  }
}
.dateLabel {
  @include mixins.media-min(variables.$mobile) {
    grid-area: a;
    text-align: end;
  }
}
.guestLegend {
  grid-area: e;
  @include mixins.media-min(variables.$mobile) {
    text-align: center;
  }
}

.dateInput,
.guestsInput {
  text-align: end;
  margin: 0;
  font-weight: 700;
  letter-spacing: 0.005em;
  line-height: 1.1;
  color: rgb(var(--color-total-black));
  background-color: transparent;

>>>>>>> 5a28b413a7eea541795a727d3e7a5a390ead1c01
  &:focus {
    outline: none;
  }
}

<<<<<<< HEAD
.bookingInputGuests {
  width: 155px;
  font-family: var(--f-family-main);
  font-size: var(--f-size-body);
  font-weight: 700;
  color: rgb(var(--color-total-black));
  &:focus {
    outline: none;
  }

  @include mixins.media-min(variables.$mobile) {
    width: 160px;
  }
}

.bookingOpenButton {
  position: relative;
  width: 24px;
}

.downIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.buttonSearch {
  font-size: var(--f-size-button-small);
  padding: 14px 24px;
}
=======
.dateInput {
  text-align: start;
  max-width: 95px;
  @include mixins.media-min(variables.$mobile) {
    max-width: 83px;
    text-align: end;
    grid-area: c;
  }
}

.dateOpenButton,
.guestOpenButton {
  width: 23px;
  height: 23px;
  transition: scale 0.3s 0.15s;
  will-change: contents;
}
.dateOpenButton {
  align-self: end;
  color: rgb(var(--color-total-black));

  @include mixins.media-min(variables.$mobile) {
    grid-area: b;
    align-self: end;
  }
}
.guestOpenButton {
  grid-area: g;
  align-self: center;
  color: rgb(var(--color-total-black));
}

.upIcon,
.downIcon {
  transition: rotate 0.3s, color 0.3s, opacity 0.1s 0.2s;
}

.upIcon {
  rotate: 180deg;
}
.guestOpenButton:has(>.upIcon),
.dateOpenButton:has(>.upIcon) {
  color: rgb(var(--color-natural-orange));
  scale: 1.3;
}

.hideIcon {
  opacity: 0;
  visibility: hidden;
}

.guestsLabel{
  line-height: 1.1;
  font-weight: 700;
  grid-area: d;
}
.guestsLabel:last-of-type {
  grid-area: f;
}

.guestsInput {
  max-width: 20px;
}

.buttonSearch {
  font-size: var(--f-size-button-small);
  // min-width: 7.375rem;
  & > button {
    max-width: unset;
    padding-block: unset;
    line-height: 44px;
  }
}
>>>>>>> 5a28b413a7eea541795a727d3e7a5a390ead1c01
