.pin {
  width: 17px;
  height: 24px;
  position: absolute;
  bottom: var(--bottom);
  left: var(--left);
  @media (min-width: 769px) and (max-width: 1279px) {
    width: calc(17px + 10 * (100vw - 769px) / 510);
    height: calc(24px + 13 * (100vw - 769px) / 510);
  }
  @media (min-width: 1280px) {
    width: 27px;
    height: 37px;
  }
}
