@use "../../../../styles/mixins" as mixins;
@use "../../../../styles/variables";

.guestsFormContainer {
  width: 100%;
  padding-top: 45px;
  padding-bottom: 35px;
  padding-right: 20px;
  padding-left: 20px;

  @include mixins.media-min(variables.$mobile) {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

.adultWrapper,
.childWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.childWrapper {
  margin-bottom: 48px;
}
.buttonWrapper {
  display: flex;
  align-items: center;
  width: 132px;
  justify-content: space-between;
}
.plusButton,
.minButton {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid rgba(12, 12, 12, 1);
}

.minIcon,
.plusIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-family: var(--f-family-headline);
  font-size: var(--f-size-h3);
  color: rgb(var(--color-total-black));
}
.value {
  font-family: var(--f-family-headline);
  font-size: 18px;
  color: rgb(var(--color-total-black));
}

.textFirst,
.textSecond {
  font-family: var(--f-family-main);
  font-size: var(--f-size-body);
  color: rgb(var(--color-total-black));
}
.textFirst {
  margin-bottom: 29px;
}
