@use "../../styles/mixins" as mixins;
@use "../../styles/variables";

.langContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(var(--color-black));
  font-size: 24px;

  @include mixins.media-min(variables.$mobile) {
    font-size: var(--f-size-body);
  }

  .langBtn {
    font-family: var(--f-family-headline);
    text-transform: uppercase;
    font-weight: 600;
    line-height: normal;
    padding: 5px;
    transition: color 0.2s;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        color: rgb(var(--color-natural-orange));
      }
    }

    &:active {
      color: rgb(var(--color-natural-orange));
    }
  }

  .active {
    color: rgb(var(--color-natural-orange));
    cursor: default;
  }
}