@use "../../styles/mixins" as mixins;
@use "../../styles/variables";

.langContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  @include mixins.media-max(variables.$breakpoint-mobile-max) {
    display: none;
  }
}

.active {
  color: rgb(var(--color-natural-orange));
}

.langBtn {
  color: rgba(var(--color-black), 1);
  font-family: var(--f-family-headline);
  font-size: var(--f-size-body);
  font-weight: 600;
  line-height: normal;

  // &:hover,
  // &:active,
  // &:focus {
  //   // color: rgb(var(--color-natural-orange));
  // }
}
.active {
  color: rgb(var(--color-natural-orange));
}
