@use "../../../styles/mixins" as mixins;
@use "../../../styles/variables";

.contactsListWrapper {
  margin-top: -15px;
  margin-left: auto;
  width: 327px;
  padding: 20px 15px 20px 15px;
  border-radius: 8px;
  background-color: rgb(var(--color-nude));
  margin-bottom: 29px;

  @include mixins.media-min(variables.$mobile) {
    width: 524px;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    padding: 30px 20px 30px 20px;
    width: 668px;
    margin-left: 70px;
  }
}

.grandpa {
  width: 121px;
  height: 121px;
  display: block;
  margin-left: auto;
  // position: absolute;
  // left: 210px;
  // top: -110px;
}

.contactsList {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}

.contactsItemTitle {
  font-family: var(--f-family-main);
  font-size: var(--f-size-body);
  font-weight: 300;
  line-height: 18.56px;
  margin-bottom: 16px;
}

.contactItemText {
  font-size: var(--f-size-body);
  font-weight: 600;
  line-height: 18px;
  display: flex;
  align-items: center;

  @include mixins.media-min(variables.$mobile) {
    font-size: 18px;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
  }
}

.contactItemIcon {
  margin-right: 10px;
}

.socialMediaList {
  gap: 46px;
  justify-content: center;
}
