@use "../../styles/mixins" as mixins;
@use "../../styles/variables";

.section {
  max-width: 600px;
  margin: 0 auto;
}
.grandbox1 {
  padding: 0 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  margin-bottom: 12px;
}

.mainTitle {
  font-family: var(--f-family-headline);
  font-weight: 600;
  font-size: var(--f-size-button-big);
  line-height: 21.48px;
  color: rgba(var(--color-base-green), 1);
}

.text1 {
  padding: 0 24px;
  font-family: var(--f-family-main);
  font-weight: 400;
  font-size: 14px;
  line-height: 16.44px;
  color: rgb(var(--color-black));

  margin-bottom: 12px;
}

.bold {
  font-weight: 700;
}

.text2 {
  padding: 0 24px;
  font-weight: 700;
  text-align: right;
  color: rgba(var(--color-base-green), 1);
  margin-bottom: 20px;
}

.imgBox {
  position: relative;
  height: 65vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.grandpa1 {
  width: 27vw;
  height: 26vw;
  max-width: 172px;
  max-height: 172px;
}

.photo1 {
  z-index: 50;
  position: absolute;
  left: 0;
  top: 0;
  width: 55vw;
  height: 45vw;
}

.illustration1 {
  position: absolute;
  top: 25%;
  right: 1%;
  z-index: 49;

  width: 60vw;
  height: 55vw;
}

.title1 {
  font-family: var(--f-family-headline);
  font-weight: 600;
  font-size: var(--f-size-button-big);
  line-height: 21.48px;
  color: rgba(var(--color-base-green), 1);
}

.grandbox2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -20px;
}

.grandpa2 {
  width: 28vw;
  height: 25vw;
}

.imgBox2 {
  position: relative;
  height: 80vw;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.photo4 {
  position: absolute;
  top: 81px;
  left: 20px;
  z-index: 55;

  width: 45vw;
  height: 30vw;
}

.photo2 {
  position: absolute;
  right: 1%;
  z-index: 49;

  width: 57vw;
  height: 30vw;
}

.photo3 {
  position: absolute;
  right: 1%;
  top: 35vw;
  z-index: 48;
  
  width: 57vw;
  height: 44vw;
}


.add {
  text-align: right;
  padding: 0 20px;
  margin-bottom: 20px;
}

.imgBox3 {
  position: relative;
  height: 85vw;
  z-index: -1;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.illustration3 {
  position: absolute;
  top: -20vw;
  left: 2%;
  z-index: 50;

  width: 50vw;
  height: 48vw;
}

.photo7 {
  position: absolute;
  right: 0;
  z-index: 49;

  width: 41vw;
  height: 41vw;
}

.photo5 {
  position: absolute;
  top: 25vw;
  left: 4%;
  z-index: 48;

  width: 52vw;
  height: 39vw;
}

.illustration2 {
  position: absolute;
  top: 35vw;
  right: 0;
  z-index: 47;

  width: 52vw;
  height: 52vw;
}


.add1 {
  max-width: 300px;
  padding: 0 20px;
  margin-bottom: 20px;
}

.imgBox4 {
  position: relative;
  height: 110vw;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.grandpa3 {
  position: absolute;
  top: 12vw;
  left: 0;

  width: 39vw;
  height: 34vw;

  z-index: 48;
}

.photo6 {
  position: absolute;
  right: 2vw;

  width: 54vw;
  height: 45vw;

  z-index: 49;
}

.photo8 {
  position: absolute;
  top: 52vw;
  right: 2vw;

  width: 78vw;
  height: 50vw;

  z-index: 50;
}


.svg {
  z-index: 10;
}
