@use "../../styles/mixins" as mixins;
@use "../../styles/variables";

.section {
  position: relative;
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mixins.media-min(variables.$mobile) {
    max-width: 768px;
    align-items: normal;
    margin-top: 40px;
    padding: 0 30px;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    max-width: 1280px;
    align-items: normal;
    padding: 0 50px;
  }
}

.section > .add1 {
  align-self: inspect($value: flex-start);
  margin-left: 24px;

  width: 50vw;
}

.grandbox1 {
  padding: 0 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  margin-bottom: 12px;
  margin-top: 63px;

  @include mixins.media-min(variables.$mobile) {
    justify-content: flex-start;
    padding: 0;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    margin-top: 40px;
    margin-bottom: 36px;
  }
}

.textBox1 {
  @include mixins.media-min(variables.$mobile) {
    width: 362px;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    width: 515px;
  }
}

.mainTitle {
  font-family: var(--f-family-headline);
  font-weight: 600;
  font-size: var(--f-size-button-big);
  line-height: 21.48px;
  color: rgba(var(--color-base-green), 1);

  @include mixins.media-min(variables.$mobile) {
    font-size: 32px;
    line-height: 35.2px;
  }
}

.text1 {
  // padding: 0 24px;
  font-family: var(--f-family-main);
  font-weight: 400;
  font-size: 14px;
  line-height: 16.44px;
  color: rgb(var(--color-black));

  margin-bottom: 12px;
  margin-left: 24px;

  max-width: 87vw;

  @include mixins.media-min(variables.$mobile) {
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 18.56px;

    margin-bottom: 32px;
  }
}

.bold {
  font-weight: 700;
}

.text2 {
  padding: 0 24px;
  font-weight: 700;
  text-align: right;
  color: rgba(var(--color-base-green), 1);
  margin-bottom: 20px;

  font-family: var(--f-family-main);

  @include mixins.media-min(variables.$mobile) {
    padding: 0;
    font-size: 16px;
    line-height: 17.6px;
  }
}

.imgBox {
  position: relative;
  height: 65vw;

  max-height: 373px;
  width: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  margin: 0 auto;

  @include mixins.media-min(variables.$breakpoint-laptop) {
    max-height: 500px;
  }
}

.grandpa1 {
  position: absolute;
  top: 1%;
  right: 0;
  width: 27vw;
  height: 26vw;

  max-width: 155px;
  max-height: 150px;

  @include mixins.media-min(variables.$mobile) {
    position: absolute;
    top: 25px;
    right: 41px;

    width: 254px;
    height: 254px;

    max-width: 100%;
    max-height: 100%;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    top: 150px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);

    width: 334px;
    height: 334px;

    max-width: 100%;
    max-height: 100%;
  }
}

.photo1 {
  z-index: 50;
  position: absolute;
  left: 24px;
  top: 0;
  width: 51vw;
  height: 47vw;

  max-width: 316px;
  max-height: 258px;

  @include mixins.media-min(variables.$mobile) {
    top: 86px;

    width: 302px;
    height: 274px;

    max-width: 100%;
    max-height: 100%;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    top: -300px;
    right: 0;
    left: auto;

    width: 544px;
    height: 492px;

    max-width: 100%;
    max-height: 100%;
  }
}

.illustration1 {
  position: absolute;
  top: 25%;
  right: 0;
  z-index: 49;

  width: 55vw;
  height: 52vw;

  max-width: 345px;
  max-height: 316px;
  transform: scale(-1, 1);

  @include mixins.media-min(variables.$mobile) {
    top: 0;

    width: 354px;
    height: 321px;

    max-width: 100%;
    max-height: 100%;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    z-index: 49;
    top: auto;
    bottom: -50px;
    right: auto;
    left: 0;
    width: 410px;
    height: 372px;

    max-width: 100%;
    max-height: 100%;

    transform: none;
  }
}

.title1 {
  font-family: var(--f-family-headline);
  font-weight: 600;
  font-size: var(--f-size-button-big);
  line-height: 21.48px;
  color: rgba(var(--color-base-green), 1);

  @include mixins.media-min(variables.$mobile) {
    font-size: 48px;
    line-height: 52.8px;
    text-transform: uppercase;
  }
}

.textContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mixins.media-min(variables.$mobile) {
    width: 484px;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    width: 551px;
    margin: 0 auto;
    align-items: flex-end;
  }
}

.marg {
  margin-bottom: 20px;

  @include mixins.media-min(variables.$mobile) {
    margin-bottom: 32px;
  }
}

.grandbox2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -20px;

  @include mixins.media-min(variables.$mobile) {
    display: block;
    padding: 0;

    margin-top: 40px;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }
}

.grandpa2 {
  left: 15px;

  width: 25vw;
  height: 28vw;

  max-width: 161px;
  max-height: 143px;

  transform: scale(-1, 1);

  z-index: -1;

  @include mixins.media-min(variables.$mobile) {
    position: absolute;
    right: 30px;
    left: auto;
    width: 304px;
    height: 302px;

    max-width: 100%;
    max-height: 100%;
    transform: none;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    top: 750px;

    width: 327px;
    height: 324px;

    max-width: 100%;
    max-height: 100%;

    // transform: scale(-1, 1);
  }
}

.imgBox2 {
  position: relative;
  height: 80vw;

  max-height: 461px;
  width: 100%;
  margin: 0 auto;

  @include mixins.media-min(variables.$mobile) {
    height: 600px;
    max-height: 100%;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    height: 1000px;
    max-height: 100%;
  }
}

.photo4 {
  position: absolute;
  top: 30%;
  left: 0;
  z-index: 55;

  width: 46svw;
  height: 30vw;

  max-width: 259px;
  max-height: 173px;

  @include mixins.media-min(variables.$mobile) {
    width: 376px;
    height: 214px;

    max-width: 100%;
    max-height: 100%;

    top: auto;
    bottom: 0;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    width: 556px;
    height: 354px;

    max-width: 100%;
    max-height: 100%;

    top: 540px;
  }
}

.photo2 {
  position: absolute;
  right: 0;
  z-index: 49;

  width: 57vw;
  height: 31vw;

  max-width: 327px;
  max-height: 172px;

  @include mixins.media-min(variables.$mobile) {
    width: 424px;
    height: 206px;

    max-width: 100%;
    max-height: 100%;

    left: 0;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    width: 748px;
    height: 410px;

    max-width: 100%;
    max-height: 100%;
  }
}

.photo3 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 48;

  width: 57vw;
  height: 44vw;

  max-width: 327px;
  max-height: 253px;

  @include mixins.media-min(variables.$mobile) {
    width: 402px;
    height: 348px;

    max-width: 100%;
    max-height: 100%;

    bottom: auto;
    top: 25%;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    width: 606px;
    height: 526px;

    max-width: 100%;
    max-height: 100%;

    top: 278px;
  }
}

.add {
  text-align: right;
  padding: 0 20px;
  margin-bottom: 20px;

  @include mixins.media-min(variables.$mobile) {
    text-align: left;

    padding: 0;
  }
}

.imgBox3 {
  position: relative;
  height: 110vw;

  max-height: 635px;
  width: 100%;
  margin: 0 auto;
}

.illustration3 {
  position: absolute;
  top: -18%;
  left: 0;
  z-index: 50;

  width: 50vw;
  height: 48vw;

  max-width: 286px;
  max-height: 276px;
  transform: scale(-1, 1);

  @include mixins.media-min(variables.$mobile) {
    right: 0;
    left: auto;
    top: -50%;

    width: 356px;
    height: 298px;

    max-width: 100%;
    max-height: 100%;

    transform: none;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    right: 0;
    left: auto;
    top: -400px;

    width: 488px;
    height: 458px;

    max-width: 100%;
    max-height: 100%;

    // transform: scale(-1, 1);
  }
}

.photo7 {
  position: absolute;
  right: 0;
  z-index: 49;

  width: 42vw;
  height: 42vw;

  max-width: 235px;
  max-height: 235px;

  @include mixins.media-min(variables.$mobile) {
    width: 434px;
    height: 434px;

    max-width: 100%;
    max-height: 100%;

    left: 0;
    right: auto;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    width: 668px;
    height: 668px;

    max-width: 100%;
    max-height: 100%;

    left: 0;
    right: auto;
    top: 150px;
  }
}

.photo5 {
  position: absolute;
  top: 50%;
  left: 4%;
  z-index: 48;

  width: 52vw;
  height: 45vw;

  max-width: 300px;
  max-height: 225px;

  @include mixins.media-min(variables.$mobile) {
    right: 0;
    left: auto;
    top: auto;
    bottom: 0;

    width: 345px;
    height: 296px;

    max-width: 100%;
    max-height: 100%;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    right: 0;
    left: auto;
    top: auto;
    bottom: 0;

    width: 499px;
    height: 430px;

    max-width: 100%;
    max-height: 100%;
  }
}

.illustration2 {
  position: absolute;
  top: 75%;
  right: 0;
  z-index: 47;

  width: 52vw;
  height: 52vw;

  max-width: 300px;
  max-height: 300px;
  transform: scale(-1, 1);

  @include mixins.media-min(variables.$mobile) {
    right: auto;
    left: 0;
    top: auto;
    bottom: -30%;

    width: 322px;
    height: 318px;

    max-width: 100%;
    max-height: 100%;

    transform: none;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    right: auto;
    left: 0;
    top: auto;
    bottom: -400px;

    width: 506px;
    height: 498px;

    max-width: 100%;
    max-height: 100%;

    // transform: scale(-1, 1);
  }
}

.imgMask {
  position: relative;
  z-index: -1;
  @include mixins.media-min(variables.$mobile) {
    position: inherit;
    z-index: 0;
  }
  @include mixins.media-min(variables.$breakpoint-laptop) {
  }
}

.imgMask::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 100%
  );
  pointer-events: none;
  @include mixins.media-min(variables.$mobile) {
    display: none;
  }
}

.textContainer2 {
  @include mixins.media-min(variables.$mobile) {
    width: 433px;

    margin-left: 40%;
    margin-top: 100px;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    width: 695px;
  }
}

.add1 {
  max-width: 200px;

  margin-bottom: 20px;

  @include mixins.media-min(variables.$mobile) {
    max-width: 100%;
    margin-bottom: 36px;
  }
}

.imgBox4 {
  position: relative;
  height: 110vw;

  max-height: 633px;
  width: 100%;

  @include mixins.media-min(variables.$breakpoint-laptop) {
    height: 1000px;
    max-height: 100%;
  }
}

.grandpa3 {
  position: absolute;
  top: 5vw;
  left: 0;

  width: 39vw;
  height: 34vw;

  max-width: 225px;
  max-height: 196px;

  z-index: 48;

  @include mixins.media-min(variables.$mobile) {
    width: 311px;
    height: 248px;

    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: auto;
    right: 0;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    width: 454px;
    height: 364px;

    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: auto;
    right: 0;
  }
}

.photo6 {
  position: absolute;
  right: 2vw;
  top: 12vw;

  width: 54vw;
  height: 40vw;

  max-width: 310px;
  max-height: 259px;

  z-index: 49;

  @include mixins.media-min(variables.$mobile) {
    right: auto;
    left: 0;
    top: 0;

    width: 420px;
    height: 315px;

    max-width: 100%;
    max-height: 100%;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    right: auto;
    left: 0;
    top: 74px;

    width: 660px;
    height: 496px;

    max-width: 100%;
    max-height: 100%;
  }
}

.photo8 {
  position: absolute;
  top: 45vw;
  right: 0;

  width: 78vw;
  height: 50vw;

  max-width: 449px;
  max-height: 287px;

  z-index: 50;

  @include mixins.media-min(variables.$mobile) {
    width: 370px;
    height: 236px;

    max-width: 100%;
    max-height: 100%;
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    width: 550px;
    height: 352px;

    max-width: 100%;
    max-height: 100%;
    top: auto;
    left: auto;
    right: 0;
    bottom: 175px;
  }
}

.svg {
  z-index: 10;
}

.line1Box {
  // padding-left: 25%;
  display: flex;

  justify-content: center;

  @include mixins.media-min(variables.$breakpoint-laptop) {
    justify-content: flex-start;
  }
}

.line2Box {
  display: flex;
  justify-content: center;

  @include mixins.media-min(variables.$mobile) {
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    padding-left: 25%;
  }
}

.line2 {
  max-height: 265px;
  max-width: 265px;
  @include mixins.media-min(variables.$mobile) {
    max-height: 540px;
    max-width: 540px;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    width: 911px;
    height: 911px;
  }
}

.line3Box {
  display: flex;
  justify-content: center;
  transform: rotate(-16deg);
  @include mixins.media-min(variables.$mobile) {
    transform: none;
  }
}

.line3 {
  width: 94vw;
  height: 76vw;

  max-width: 975px;

  z-index: 46;

  @include mixins.media-min(variables.$mobile) {
    max-height: 433px;
  }
}

.line1 {
  width: 41vw;
  height: 57vw;

  @include mixins.media-min(variables.$mobile) {
    width: 198px;
    height: 240px;
    margin-left: 100px;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    width: 291px;
    height: 351px;
    margin-left: 100px;
  }
}

.line4Box {
  display: flex;
  justify-content: center;
}

.line4 {
  width: 236px;
  height: 372px;
  @include mixins.media-min(variables.$mobile) {
    width: 550px;
  }
}

.textContainer1 {
  @include mixins.media-min(variables.$mobile) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 415px;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    width: 672px;
  }
}

.calendarBox {
  @include mixins.media-min(variables.$breakpoint-laptop) {
    position: absolute;
    right: 50px;
    top: 600px;
  }
}

.box1Ref {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mixins.media-min(variables.$mobile) {
    display: block;
  }
}
