@use "../../styles/mixins" as mixins;
@use "../../styles/variables";

.section {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section > .add1 {
  align-self: inspect($value: flex-start);
  margin-left: 24px;
  width: 50vw;
}

.grandbox1 {
  padding: 0 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  margin-bottom: 12px;

  @include mixins.media-min(variables.$mobile) {
    justify-content: flex-start;
    padding: 0;
  }
}

.textBox1 {
  @include mixins.media-min(variables.$mobile) {
    width: 362px;
  }
}

.mainTitle {
  font-family: var(--f-family-headline);
  font-weight: 600;
  font-size: var(--f-size-button-big);
  line-height: 21.48px;
  color: rgba(var(--color-base-green), 1);
}

.text1 {
  // padding: 0 24px;
  font-family: var(--f-family-main);
  font-weight: 400;
  font-size: 14px;
  line-height: 16.44px;
  color: rgb(var(--color-black));

  margin-bottom: 12px;

  max-width: 87vw;

  @include mixins.media-min(variables.$mobile) {
    padding: 0;
  }
}

.bold {
  font-weight: 700;
}

.text2 {
  padding: 0 24px;
  font-weight: 700;
  text-align: right;
  color: rgba(var(--color-base-green), 1);
  margin-bottom: 20px;

  @include mixins.media-min(variables.$mobile) {
    padding: 0;
  }
}

.imgBox {
  position: relative;
  height: 65vw;

  max-height: 373px;
  width: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  margin: 0 auto;
}

.grandpa1 {
  width: 27vw;
  height: 26vw;

  max-width: 155px;
  max-height: 150px;

  @include mixins.media-min(variables.$mobile) {
    position: absolute;
    top: 34px;
    right: 41px;

    width: 254px;
    height: 254px;
  }
}

.photo1 {
  z-index: 50;
  position: absolute;
  // left: -18vw;
  top: 0;
  width: 51vw;
  height: 47vw;

  max-width: 316px;
  max-height: 258px;
}

.illustration1 {
  position: absolute;
  top: 25%;
  right: 0;
  z-index: 49;

  width: 55vw;
  height: 52vw;

  max-width: 345px;
  max-height: 316px;
}

.title1 {
  font-family: var(--f-family-headline);
  font-weight: 600;
  font-size: var(--f-size-button-big);
  line-height: 21.48px;
  color: rgba(var(--color-base-green), 1);
}

.grandbox2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -20px;

  padding: 0 24px;
}

.grandpa2 {
  width: 25vw;
  height: 28vw;

  max-width: 161px;
  max-height: 143px;
}

.imgBox2 {
  position: relative;
  height: 80vw;

  max-height: 461px;
  width: 100%;
  // display: flex;
  // justify-content: center;
  margin: 0 auto;
}

.photo4 {
  position: absolute;
  top: 30%;
  left: 0;
  z-index: 55;

  width: 46svw;
  height: 30vw;

  max-width: 259px;
  max-height: 173px;
}

.photo2 {
  position: absolute;
  right: 0;
  z-index: 49;

  width: 57vw;
  height: 31vw;

  max-width: 327px;
  max-height: 172px;
}

.photo3 {
  position: absolute;
  right: 0;
  // top: 35vw;
  bottom: 0;
  z-index: 48;

  width: 57vw;
  height: 44vw;

  max-width: 327px;
  max-height: 253px;
}

.add {
  text-align: right;
  padding: 0 20px;
  margin-bottom: 20px;
}

.imgBox3 {
  position: relative;
  height: 110vw;

  max-height: 635px;
  width: 100%;
  // z-index: -1;
  // display: flex;
  // justify-content: center;
  margin: 0 auto;
}

.illustration3 {
  position: absolute;
  top: -18%;
  left: 0;
  z-index: 50;

  width: 50vw;
  height: 48vw;

  max-width: 286px;
  max-height: 276px;
}

.photo7 {
  position: absolute;
  right: 0;
  z-index: 49;

  width: 42vw;
  height: 42vw;

  max-width: 235px;
  max-height: 235px;
}

.photo5 {
  position: absolute;
  top: 50%;
  left: 4%;
  z-index: 48;

  width: 52vw;
  height: 45vw;

  max-width: 300px;
  max-height: 225px;
}

.illustration2 {
  position: absolute;
  top: 75%;
  right: 0;
  z-index: 47;

  width: 52vw;
  height: 52vw;

  max-width: 300px;
  max-height: 300px;
}

.add1 {
  max-width: 300px;
  // padding: 0 20px;
  margin-bottom: 20px;
}

.imgBox4 {
  position: relative;
  height: 110vw;

  max-height: 633px;
  width: 100%;
  // padding: 0 20px;
  // display: flex;
  // justify-content: center;
  // margin: 0 auto;
}

.grandpa3 {
  position: absolute;
  top: 5vw;
  left: 0;

  width: 39vw;
  height: 34vw;

  max-width: 225px;
  max-height: 196px;

  z-index: 48;
}

.photo6 {
  position: absolute;
  right: 2vw;
  top: 12vw;

  width: 54vw;
  height: 40vw;

  max-width: 310px;
  max-height: 259px;

  z-index: 49;
}

.photo8 {
  position: absolute;
  top: 45vw;
  right: 0;

  width: 78vw;
  height: 50vw;

  max-width: 449px;
  max-height: 287px;

  z-index: 50;
}

.svg {
  z-index: 10;
}

.line1Box {
  // padding-left: 25%;
  display: flex;

  justify-content: center;
}

.line2Box {
  padding-left: 25%;
}

// .line3Box {
//   padding-left: 30%;
// }

.line3 {
  // padding: 0 24px;
  width: 94vw;
  height: 76vw;

  max-width: 540px;
  max-height: 488px;
}

.line1 {
  // padding: 0 24px;
  width: 41vw;
  height: 57vw;

  // max-width: 540px;
  // max-height: 488px;
}

.line4Box {
  display: flex;
  justify-content: center;
}
