@use '../../../styles/mixins' as mixins;
@use '../../../styles/variables';

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(#D4D2CC, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    // overflow: hidden;
}

.modalContent {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 100vw;
    max-width: 1900px;
    .close {
        position: absolute;
        top: -3rem;
        right: 0;
        font-size: 3rem;
        line-height: 1.5rem;
        color: rgb(var(--color-base-green));
        padding: 0.5rem;
        z-index: 10;
        @include mixins.media-min(variables.$mobile) {
            top: -4rem;
            right: -4rem;
            font-size: 4rem;
            line-height: 2rem;
        }
    }

    @media (orientation: portrait) and (hover: none) {
        max-height: 60dvh;
    }
    @media (orientation: landscape) and (hover: none) {
        max-height: 90dvh;
    }
    
    @include mixins.media-min(variables.$mobile) {
        max-height: 80vh;
        // width: 90vw;
    }
}
