// breakpoints
$breakpoint-mobile-max: 749px;
$breakpoint-tablet-min: 750px;
$breakpoint-tablet-max: 950px;
$breakpoint-laptop-min: 951px;

// $pc: 90em; // 1440px ПК, ноутбуки
// $desktop: 78.75em; // 1260px Ноутбуки, деякі планшети у горизонтальному положенні
// $tablet: 62em; // 992px Планшети, деякі телефони в горизонтальному положенні
// $mobile: 48em; // 768px Телефони L
// $mobileSmall: 30em; // 480px Телефони S
