// Мінімальна ширина сторінки
$minWidth: 360;
// Ширина полотна (макету)
$maxWidth: 1440;
// Ширина обмежуючого контейнера
$maxWidthContainer: 1360;
// Загальний відступ у контейнера
$containerPadding: 40;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: em($containerWidth); // ПК, ноутбуки
$desktop: em(1260); // Ноутбуки, деякі планшети у горизонтальному положенні
$tablet: em(992); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(768); // Телефони L
$mobileSmall: em(480); // Телефони S