@use '../../../styles/mixins' as mixins;
@use '../../../styles/variables';

.sectionWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 1000px) {
    // width: 520px;
    align-items: flex-start;
  }
}

.imageDecorWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.imageDecor {
  width: 228px;
  position: absolute;
  height: 207px;
  @media (min-width: 376px) and (max-width: 767px) {
    width: calc(228px + 213 * (100vw - 376px) / 391);
    height: calc(207px + 193 * (100vw - 376px) / 391);
  }
  @media (min-width: 768px) {
    width: 441px;
    height: 400px;
  }

  z-index: -1;
  img {
    object-fit: contain;
  }
  &::after {
    position: absolute;
    display: flex;
    width: 238px;
    height: 216px;
    content: "";
    right: -8%;
    bottom: 8%;
    background-image: url("../../../assets/house/trees-decor.png");
    background-repeat: no-repeat;
    background-size: contain;
    filter: blur(1px);

    @media (min-width: 376px) and (max-width: 767px) {
      width: calc(238px + 223 * (100vw - 376px) / 391);
      height: calc(216px + 203 * (100vw - 376px) / 391);
    }

    @media (min-width: 768px) {
      width: 561px;
      height: 519px;
      bottom: 3%;
      right: -7%;
      filter: blur(0px);
    }

    @media (min-width: 769px) and (max-width: 1279px) {
      bottom: calc(3% + 3 * (100vw - 769px) / 510);
      right: calc(-7% - 33% * (100vw - 769px) / 510);
    }
    @media (min-width: 1280px) {
      bottom: 6%;
    }
  }
}

.image {
  display: block;
  width: 188px;
  height: 144px;
  position: absolute;
  top: 45px;
  right: 35px;

  @media (min-width: 376px) and (max-width: 767px) {
    width: calc(188px + 185 * (100vw - 376px) / 391);
    height: calc(144px + 142 * (100vw - 376px) / 391);
  }

  @media (min-width: 768px) {
    width: 373px;
    height: 286px;
    right: 90px;
    top: 24px;
  }

  @media (min-width: 769px) and (max-width: 1279px) {
    top: calc(24px - 19 * (100vw - 769px) / 510);
  }

  @media (min-width: 1280px) {
    top: 5px;
  }
}

.bookingWrapper {
  // width: 327px;
  margin-top: 146px;
  border-radius: 8px;
  background-color: rgb(var(--color-nude), 0.7);
  font-family: var(--f-family-headline);
  font-size: 22px;
  line-height: 97.6%;
  border: 1px solid rgba(var(--color-base-green));
  display: flex;
  flex-direction: column;
  &.simple {
    gap: 30px;
    padding: 40px 24px;
  }
  &.addons {
    gap: 36px;
    padding: 48px 60px;
  }

  @media (min-width: 376px) and (max-width: 767px) {
    margin-top: calc(146px + 25 * (100vw - 376px) / 391);
    // width: calc(327px + 90 * (100vw - 376px) / 391);
  }

  @media (min-width: 768px) {
    margin-top: 171px;
    min-width: 417px;
  }
}
.priceWrapper,
.guestsWrapper {
  display: flex;
  align-items: center;
  column-gap: 6px;
  flex-grow: 1;
  .iconPrice {
    width: 20px;
    height: 20px;
  }
  
  .iconGuests {
    width: 21px;
    height: 19px;
  }
}

.addonsTitle {
  font-size: var( --f-size-numbers-small);
  font-family: var(--f-family-headline);
  color: rgb(var(--color-gray));
  text-align: center;
}

.textPrice,
.textGuests {
  display: flex;
  align-items: center;
}
.textTotal {
  text-align: center;
  .total {
    color: rgb(var(--color-gray));
    margin-left: 24px;
  }
}

.timeWrapper {
  // height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 14px;
  & div {
    display: flex;
    column-gap: 16px;

    & p:first-child {
      color: rgba(var(--color-base-green));
    }
  }
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  // margin-top: 32px;
}
