.swiperLaptopWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.swiperLaptop {
  display: none;
  @media (min-width: 1280px) {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 6;
  }
}

.swiperButtonPrevCustom {
  position: absolute;
  width: 78px;
  height: 78px;
}

.swiperButtonNextCustom {
  position: absolute;
  right: 0;
  width: 78px;
  height: 78px;
}
