@import "../styles/reset";
@import "../styles/fonts.scss";
@import "../styles/mixins";
@import "../styles/variables";

:root {
  --f-family-headline: "Mak", Arial, sans-serif;
  --f-family-main: "Raleway", Arial, sans-serif;

  --f-size-body-small: 0.75rem; /* text */
  --f-size-numbers-small: 0.875rem;
  --f-size-numbers-big: 1rem;
  --f-size-body: 1rem; // link, body bold, body light;
  --f-size-button-small: 1.125rem;
  --f-size-button-big: 1.375rem;
  --f-size-body-big: 1.5rem;
  --f-size-h3: 1.5rem;
  --f-size-h2: 2rem;
  --f-size-h1: 2.25rem;
  --f-size-large: 3rem;

  --color-white: 254, 254, 254;
  --color-black: 12, 12, 12;
  --color-total-black: 0, 0, 0;
  --color-base-green: 63, 85, 64;
  --color-dark-green: 61, 73, 63;
  --color-natural-dark: 100, 88, 65;
  --color-nude: 194, 191, 183;
  --color-natural-orange: 180, 133, 79;
  --color-gray: 97, 97, 97;
  --color-gray-light: 179, 179, 179;
  --color-error: 168, 14, 14;
  --color-calendar-bcg: 239, 235, 231;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 24px;
  @include media-min($mobile) {
    padding-inline: 30px;
  }
  @include media-min($breakpoint-laptop) {
    padding-inline: 50px;
  }
  @include media-min($pc) {
    padding-inline: 130px;
  }
}

swiper-container {
  // width: 800px;
  height: 200px;
  line-height: 200px;
  text-align: center;
}

swiper-slide {
  background-color: rgb(4 47 46);
  color: #fff;
  font-size: 25px;
}

swiper-slide:nth-child(2) {
  background-color: rgb(15 118 110);
}

swiper-slide:nth-child(3) {
  background-color: rgb(45 212 191);
}

swiper-slide:nth-child(4) {
  background-color: rgb(153 246 228);
}

swiper-slide:nth-child(5) {
  background-color: rgb(34 197 94);
}

swiper-button-next,
swiper-button-prev {
  z-index: 100;
}
