@use "../../styles/mixins" as mixins;
@use "../../styles/variables";

.galleryItemWrapper {
    @media (hover: hover) {
        .desktopOnly {
            display: inline;
        }
        .mobileOnly {
            display: none;
        }
    }
    @media (hover: none){
        overflow-x: clip;
        .desktopOnly {
            display: none;
        }
        .mobileOnly {
            display: inline;
        }
    }
    .desktopOnly {
        display: none;
    }
    .mobileOnly {
        display: inline;
    }
    margin-bottom: 92px;
    @media (min-width: 1024px) {
        overflow-x: clip;
    }
}
.hero, 
.main {
    @include mixins.mak-green;
}
.hero {
    margin-top: 16px;
}
.main {
    margin-top: 81px;
}
.heroTitle {
    max-width: 90%;
    padding-left: clamp(0px, calc(0px + 74 * (100vw - 375px) / 392), 74px);
    font-size: var(--f-size-body-big);
    position: relative;
    &::before {
        position: absolute;
        content: '';
        background-repeat: no-repeat;
        top: -34%;
        left: 6%;
        width: clamp(210px, calc(210px + 160 * (100vw - 375px) / 392), 370px);
        aspect-ratio: 1.094;
        background-image: url('/images/backgrounds/christmasTrees.png');
        background-size: contain;
        z-index: -1;
    }
}
.grandpaWrapper {
    margin-top: clamp(-50px, calc(-50px + 140 * (767px - 100vw) / 392), 90px);
    float: right;
    margin-right: -10px;
    shape-outside: padding-box;
    border-radius: 50% 50% 0% 0%;
    position: relative;
    width: clamp(142px, calc(252px - 110 * (767px - 100vw) / 392), 252px);
    aspect-ratio: 1;
    img {
        // object-fit: contain;
    }
}
.callToClick {
    font-size: 14px;
    line-height: 1.4;
    padding-left: clamp(24px, calc(24px + 80 * (100vw - 375px) / 392), 104px);
    position: relative;
    .curve {
        display: block;
        position: absolute;
        bottom: 0%;
        transform: translateY(110%);
        left: 56%;
        width: 10px;
        height: 30px;
    }
}
.itemWrapper {
    width: 100%;
    max-width: 550px;
    aspect-ratio: 1.16;
    background-color: rgba(var(--color-nude), 0.7);
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: box-shadow 0.4s, scale 0.4s, background-color 0.4s;
    @media (hover: none) {
        &:active {
            scale: 0.98;
        }
    }
}   
.imageWrapper {
    position: relative;
    height: 100%;
    transition: scale 0.4s;
    border-radius: 8px;
    overflow: hidden;
    img {
        object-fit: cover;
    }
}
.callToAction {
    text-align: end;
    .btnCallToAction {
        max-width: 297px;
        padding-block: 11.5px;
    }
}
.slogan {
    font-size: var(--f-size-body);
    line-height: 1;
    max-width: 220px;
    margin: 50px 0 30px auto;
}

.cloud {
    display: none;
}

@include mixins.media-min(variables.$mobile) {
    .galleryItemWrapper {
        margin-bottom: 112px;
    }
    .hero {
        margin-top: 36px;
    }
    .heroTitle {
        padding-left: clamp(74px, calc(74px + 146 * (100vw - 768px) / 511), 220px);
        font-size: var(--f-size-h2);
        line-height: 1.1;
        &::before {
            top: -60%;
            width: 370px;
            aspect-ratio: 1.15;
        }
    }
    .grandpaWrapper {
        margin-right: clamp(0px, calc(0px + 29 * (100vw - 768px) / 511), 29px);
        margin-top: clamp(-86px, calc(-50px - 36 * (100vw - 768px) / 511), -50px);
        width: clamp(172px, calc(252px - 80 * (100vw - 768px) / 511), 252px);
    }
    .callToClick {
        padding-left: clamp(104px, calc(104px + 386 * (100vw - 768px) / 511), 490px);
        font-size: 20px;
        .curve {
            left: 76%;
            width: 14px;
            height: 40px;
        }
    }
    .main {
        margin: 124px auto 0;
        .curve {
            transform: translateY(100%);
        }
    }
    
    .itemWrapper {
        width: calc((100% - 9px * 2) / 3);
        aspect-ratio: 1.09;
        max-width: unset;
        @media (hover: hover) {
            &:hover,
            &:focus {
                box-shadow:  2px 2px 5px 1px rgba(0, 0, 0, 0.1);
                background-color: rgb(var(--color-nude));
                scale: 1.03
            }
        }
    }
    .callToAction {
        position: relative;
    }
    .slogan {
        font-size: var(--f-size-body-big);
        line-height: 1.1;
        margin-block: 132px 40px;
        max-width: unset;
    }
    .cloud {
        color: rgba(179, 161, 137, 0.5);
        display: block;
        position: absolute;
        top: -132px;
        right: 0px;
        width: 529px;
        aspect-ratio: 2.02;
        z-index: -1;
    }
}

@include mixins.media-min(variables.$breakpoint-laptop) {
    .galleryItemWrapper {
        margin-bottom: 186px;
    }
    .hero {
        margin-top: 41px;
    }
    .heroTitle {
        &::before {
            top: -104%;
            left: 9%;
        }
    }
    .grandpaWrapper {
        margin-right: clamp(29px, calc(29px + 51 * (100vw - 1280px) / 160), 80px);
    }
    .callToClick {
        .curve {
            left: min(calc(76% + 40px), 913px);
        }
    }
    .main {
        margin: 60px auto 0;
    }

    .itemWrapper {
        width: calc((100% - 24px * 3) / 4);
        aspect-ratio: 1.108;
        @media (hover: hover) {
            &:hover,
            &:focus {
                scale: 1.06
            }
        }
    }
    .slogan {
        font-size: var(--f-size-h2);
        margin-block: 105px 60px;
    }
    .cloud {
        width: 787px;
        top: -141px;
    }
}
@include mixins.media-min(variables.$pc) {
    .grandpaWrapper {
        margin-right: 0;
    }
    .main {
        width: 1280px;
    }
}