@use "../../styles/mixins" as mixins;
@use "../../styles/variables";

<<<<<<< HEAD
.container {
=======
.fullsizeBackground {
  background-color: rgba(var(--color-nude), 0.5);
}

.container {
  width: 100%;
>>>>>>> 5a28b413a7eea541795a727d3e7a5a390ead1c01
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 50px;
<<<<<<< HEAD
  padding: 10px 20px;
  height: 100px;
  background-color: rgba(var(--color-nude), 0.5);

  @include mixins.media-min(variables.$breakpoint-tablet-min) {
    padding: 10px 30px;

=======
  padding: 6px 24px;
  height: 100px;
  max-width: 1440px;
  margin: 0 auto;

  @include mixins.media-min(variables.$mobile) {
    padding: 6px 30px;
>>>>>>> 5a28b413a7eea541795a727d3e7a5a390ead1c01
    height: 160px;
    align-items: center;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
<<<<<<< HEAD
    padding: 10px 80px;
  }
}

.burgerIcon {
  width: 24px;
  height: 24px;

  &:hover,
  &:active,
  &:focus {
    color: rgb(var(--color-natural-orange));
  }
}

.userIcon {
  width: 24px;
  height: 24px;
  margin: auto;

  &:hover,
  &:active,
  &:focus {
    color: rgb(var(--color-natural-orange));
=======
    padding: 6px 80px;
  }

  @include mixins.media-min(variables.$pc) {
    padding: 6px 130px;
>>>>>>> 5a28b413a7eea541795a727d3e7a5a390ead1c01
  }
}

.burgerBtn {
<<<<<<< HEAD
  width: 44px;
  height: 44px;
  cursor: pointer;
  align-items: center;

  @include mixins.media-min(variables.$breakpoint-tablet-min) {
    display: none;
  }
}

.userBtn {
  width: 44px;
  height: 44px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.headerBtn {
  @include mixins.media-max(variables.$breakpoint-mobile-max) {
    display: none;
=======
  width: 28px;
  cursor: pointer;
  align-items: center;
  padding-bottom: 10px;

  @include mixins.media-min(variables.$mobile) {
    display: none;
  }
  &:active {
    .burgerIcon span {
      height: 3px;
    }
  }
}

.burgerIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 28px;
  height: 28px;
}

.burgerIcon span {
  background-color:rgb(var(--color-base-green));
  height: 2px;
  width: 28px;
  transition: transform 0.5s ease, opacity 0.2s ease;
}

.burgerBtn.active .burgerIcon span:nth-child(1) {
  background-color:rgb(var(--color-natural-orange));
  transform: rotate(45deg);
  position: relative;
  top: 9.33px;
}

.burgerBtn.active .burgerIcon span:nth-child(2) {
  background-color:rgb(var(--color-natural-orange));
  opacity: 0;
}

.burgerBtn.active .burgerIcon span:nth-child(3) {
  background-color:rgb(var(--color-natural-orange));
  transform: rotate(-45deg);
  position: relative;
  top: -9.33px;
}

.userBtn {
  width: 28px;
  cursor: pointer;
  color: rgb(var(--color-base-green));
  svg path {
    transition: all 0.2s ease;
  }
  padding-bottom: 10px;

  //tmp styles
  opacity: 0;
  visibility: hidden;

  @media (hover: hover) {
    &:hover svg path {
      stroke-width: 3;
    }
  }
  &:active svg path {
    stroke-width: 3;
    stroke: rgb(var(--color-natural-orange));
  }

  @include mixins.media-min(variables.$mobile) {
    padding-bottom: 0;
  }
}

.headerBtn {
  display: none;
  @include mixins.media-min(variables.$mobile) {
    display: unset;
>>>>>>> 5a28b413a7eea541795a727d3e7a5a390ead1c01
  }
}

.headerBox {
  display: flex;
<<<<<<< HEAD
  gap: 30px;
}

.mainLogo {
  @include mixins.media-min(variables.$breakpoint-tablet-min) {
=======
  align-items: center;
  gap: 46px;
}

.mainLogo {
  @include mixins.media-min(variables.$mobile) {
>>>>>>> 5a28b413a7eea541795a727d3e7a5a390ead1c01
    width: 277px;
    height: 135px;
  }
}
