@use "../../styles/mixins" as mixins;
@use "../../styles/variables";

.fullsizeBackground {
  background-color: rgba(var(--color-nude), 0.5);
}

.container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px 24px;
  height: 100px;
  max-width: 1440px;
  margin: 0 auto;

  @include mixins.media-min(variables.$breakpoint-tablet-min) {
    padding: 10px 30px;
    height: 160px;
    align-items: center;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    padding: 10px 80px;
  }
}

.burgerIcon {
  width: 100%;
  height: auto;

  &:hover,
  &:active,
  &:focus {
    color: rgb(var(--color-natural-orange));
  }
}

.userIcon {
  width: 100%;
  margin: auto;

  &:hover,
  &:focus {
    color: rgb(var(--color-base-green));
  }

  &:active {
    color: rgb(var(--color-natural-orange));
  }
}

.burgerBtn {
  width: 28px;
  cursor: pointer;
  align-items: center;
  color: rgb(var(--color-base-green));
  padding-bottom: 10px;

  @include mixins.media-min(variables.$breakpoint-tablet-min) {
    display: none;
  }
}

.userBtn {
  width: 28px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: rgb(var(--color-base-green));
  padding-bottom: 10px;
}

.headerBtn {
  @include mixins.media-max(variables.$breakpoint-mobile-max) {
    display: none;
  }
}

.headerBox {
  display: flex;
  align-items: center;
  gap: 30px;
}

.mainLogo {
  @include mixins.media-min(variables.$breakpoint-tablet-min) {
    width: 277px;
    height: 135px;
  }
}
