@use "../../styles/mixins" as mixins;
@use "../../styles/variables";

.container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 50px;
  padding: 10px 20px;
  height: 100px;
  background-color: rgba(var(--color-nude), 0.5);

  @include mixins.media-min(variables.$breakpoint-tablet-min) {
    padding: 10px 30px;

    height: 160px;
    align-items: center;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    padding: 10px 80px;
  }
}

.burgerIcon {
  width: 24px;
  height: 24px;

  &:hover,
  &:active,
  &:focus {
    color: rgb(var(--color-natural-orange));
  }
}

.userIcon {
  width: 24px;
  height: 24px;
  margin: auto;

  &:hover,
  &:active,
  &:focus {
    color: rgb(var(--color-natural-orange));
  }
}

.burgerBtn {
  width: 44px;
  height: 44px;
  cursor: pointer;
  align-items: center;
  color: rgb(var(--color-base-green));

  @include mixins.media-min(variables.$breakpoint-tablet-min) {
    display: none;
  }
}

.userBtn {
  width: 44px;
  height: 44px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: rgb(var(--color-base-green));
}

.headerBtn {
  @include mixins.media-max(variables.$breakpoint-mobile-max) {
    display: none;
  }
}

.headerBox {
  display: flex;
  gap: 30px;
}

.mainLogo {
  @include mixins.media-min(variables.$breakpoint-tablet-min) {
    width: 277px;
    height: 135px;
  }
}
