@use "../../styles/mixins" as mixins;
@use "../../styles/variables";

.sectionWrapper {
  max-width: 1180px;
  margin: 0 auto;
}

.arrowBlockWrapper {
  @include mixins.media-min(variables.$breakpoint-laptop) {
    display: none;
  }
}

.textDecor {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  color: rgb(var(--color-base-green));
  font-family: var(--f-family-main);
  font-weight: 700;
}

.arrowWrapper {
  display: flex;
  justify-content: flex-end;
  height: 10px;
  margin-top: 16px;
  color: rgb(var(--color-base-green));

  & svg {
    width: 90px;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  // max-width: 1180px;
  @media (min-width: 1000px) {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 114px;
  }
}

.textWrapper {
  padding-left: 0px;
  padding-right: 0px;
  @media (min-width: 376px) and (max-width: 767px) {
    padding-left: calc(0px + 34 * (100vw - 376px) / 391);
    padding-right: calc(0px + 80 * (100vw - 376px) / 391);
  }
  @media (min-width: 768px) {
    padding-left: 34px;
    padding-right: 80px;
  }
  @media (min-width: 1000px) {
    width: 516px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.headline {
  margin-top: 30px;
  font-size: 24px;
  color: rgb(var(--color-base-green));
  font-family: var(--f-family-headline);

  @media (min-width: 376px) and (max-width: 1279px) {
    margin-top: calc(30px + 50 * (100vw - 376px) / 904);
    font-size: calc(24px + 12 * (100vw - 376px) / 904);
  }

  @media (min-width: 1280px) {
    margin-top: 80px;
    font-size: 36px;
  }
}

.text {
  margin-top: 24px;
  font-size: 14px;
  font-family: var(--f-family-main);

  @media (min-width: 376px) and (max-width: 767px) {
    font-size: calc(14px + 2 * (100vw - 376px) / 391);
  }

  @media (min-width: 376px) and (max-width: 1279px) {
    margin-top: calc(24px + 47 * (100vw - 376px) / 904);
  }

  @media (min-width: 768px) {
    font-size: 16px;
  }

  @media (min-width: 1280px) {
    margin-top: 71px;
  }

  & span {
    display: block;
    padding-top: 14px;
  }
  & span:first-child {
    padding-top: 0px;
  }
}

.servicesWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 37px;
  column-gap: 16px;

  @media (min-width: 376px) and (max-width: 767px) {
    margin-top: calc(37px + 3 * (100vw - 376px) / 391);
  }

  @media (min-width: 768px) {
    margin-top: 40px;
    justify-content: flex-start;
  }

  @media (min-width: 1000px) {
    justify-content: flex-end;
  }

  @media (min-width: 769px) and (max-width: 1279px) {
    margin-top: calc(40px + 46 * (100vw - 769px) / 510);
  }

  @media (min-width: 1280px) {
    margin-top: 86px;
  }

  & .iconWrapper {
    width: 59px;
    height: 50px;
    background-color: rgba(var(--color-nude), 0.3);
    border-radius: 8px;

    @media (min-width: 376px) and (max-width: 767px) {
      width: calc(59px + 3 * (100vw - 376px) / 391);
      height: calc(50px + 15 * (100vw - 376px) / 391);
    }

    @media (min-width: 768px) {
      width: 63px;
      height: 65px;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    @media (min-width: 769px) and (max-width: 1279px) {
      width: calc(63px + 23 * (100vw - 769px) / 510);
      height: calc(65px + 25 * (100vw - 769px) / 510);
    }

    @media (min-width: 1280px) {
      width: 86px;
      height: 90px;
    }
  }

  & .servicesIcon {
    padding: 5px;

    @media (min-width: 768px) {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
}

// TODO !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! TODO
.heroSectionWrapper {
  // position: relative;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  margin-top: 93px;

  @media (min-width: 376px) and (max-width: 767px) {
    margin-top: calc(93px + 40 * (100vw - 376px) / 391);
  }

  @media (min-width: 768px) {
    margin-top: 133px;
  }
  @media (min-width: 769px) and (max-width: 1279px) {
    margin-top: calc(133px - 60 * (100vw - 769px) / 510);
  }

  @media (min-width: 1280px) {
    margin-top: 73px;
  }
}

.hero {
  width: 327px;
  position: relative;

  @media (min-width: 376px) and (max-width: 767px) {
    width: calc(327px + 326 * (100vw - 376px) / 391);
  }

  @media (min-width: 768px) {
    width: 653px;
  }
  @media (min-width: 769px) and (max-width: 1279px) {
    width: calc(769px + 527 * (100vw - 376px) / 510);
  }

  @media (min-width: 1280px) {
    width: 1180px;
  }
}

.description {
  position: absolute;
  font-family: var(--f-family-main);
  color: rgb(var(--color-base-green));
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  width: 240px;
  left: 0px;
  text-align: center;
  line-height: 110%;

  @media (min-width: 376px) and (max-width: 767px) {
    font-size: calc(12px + 6 * (100vw - 376px) / 391);
    left: calc(0px + 110 * (100vw - 376px) / 391);
  }
  @media (min-width: 768px) {
    font-size: 16px;
    left: 110px;
  }
  @media (min-width: 769px) and (max-width: 1279px) {
    left: calc(110px + 415 * (100vw - 769px) / 510);
  }
  @media (min-width: 1280px) {
    left: 525px;
  }
}

.grandpa {
  width: 120px;
  height: 110px;
  position: absolute;
  top: -50px;
  right: calc((100vw - 375px) / 3);
  z-index: -1;
  img {
    object-fit: contain;
  }
  &::after {
    width: 180px;
    height: 200px;
    // transform: scaleX(-1);
    content: "";
    position: absolute;
    right: -18px;
    bottom: -105px;
    // z-index: -1;
    background-image: url("/images/backgrounds/house-trees.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: 376px) and (max-width: 767px) {
      width: calc(180px + 26 * (100vw - 376px) / 391);
    }
    @media (min-width: 768px) {
      width: 206px;
      right: 10px;
      bottom: -167px;
    }
  }
}
// TODO !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! TODO

.map {
  width: 100%;
  margin-top: 137px;
  // margin: 137px auto 0;
  position: relative;
  display: flex;
  justify-content: center;
}
.mapWrapper {
  // width: 95.7%;
  aspect-ratio: 1.795;
  position: relative;
  top: 0;
  // left: 2.15%;
  width: 327px;
  @media (min-width: 376px) and (max-width: 767px) {
    width: calc(327px + 200 * (100vw - 376px) / 391);
  }
  @media (min-width: 768px) {
    width: 527px;
  }

  img {
    object-fit: contain;
  }
}
.cloudBackground {
  position: absolute;
  top: -25px;
  transform: scaleY(-1);
  filter: blur(22px);
  // right: 0;
  // bottom: -67px;
  left: -25px;
  z-index: -1;
  width: calc(100% + 25px);
  height: 233px;
}
.cloud {
  transform: scaleY(-1);
}
.curve {
  display: none;
}

.heroWrapper {
  .curve {
    display: block;
    position: absolute;
    bottom: -100px;
    left: 33%;
    width: calc((100vw - 768px) / 8 + 140px);
    height: 59px;
    // transform: scale(-1, 1);
    rotate: -15deg;
  }
}

@include mixins.media-min(variables.$mobile) {
  // .hero {
  //   margin-top: 40px;
  // }
  // .description {
  //   margin-top: 57px;
  //   font-size: var(--f-size-body);
  //   line-height: 1.1;
  //   padding-right: 25%;
  // }
  .grandpa {
    width: 209px;
    height: 239px;
    top: unset;
    bottom: -156px;
    right: calc((100vw - 768px) / 6);
    // filter: blur(22px);
    // &::after {
    //   display: none;
    // }
  }
  .map {
    margin-top: 197px;
  }
  // .mapWrapper {
  //   width: 66%;
  //   aspect-ratio: 1.87;
  //   top: 0;
  //   left: 17%;
  // }
  .cloudBackground {
    position: absolute;
    top: -82px;
    right: 7%;
    bottom: -18px;
    left: 4.7%;
    overflow: clip;
    &::after {
      width: 215px;
      height: 208px;
      transform: scaleX(-1);
      content: "";
      position: absolute;
      left: calc(-15px + (100vw - 768px) / 8 * 0.66);
      top: calc((100vw - 768px) / 20 + 5%);
      z-index: -1;
      background-image: url("/images/backgrounds/christmasTrees.png");
      background-size: contain;
    }
  }
  .cloud {
    transform: scale(-1, 1);
  }
  .heroWrapper {
    .curve {
      display: block;
      position: absolute;
      bottom: -152px;
      left: 12.7%;
      width: calc((100vw - 768px) / 8 + 143px);
      height: 114px;
      transform: scale(-1, 1);
    }
  }
}
@include mixins.media-min(variables.$breakpoint-laptop) {
  .grandpa {
    width: 314px;
    height: 361px;
    bottom: -224px;
    right: calc((100vw - 1180px) / 2 - 50px);
    z-index: 1;
  }
  .map {
    margin-top: 25px;
  }
  .mapWrapper {
    width: 760px;
    left: calc((100vw - 1180px) / 2 + 63px);
  }
  .cloudBackground {
    top: -123px;
    right: calc((100vw - 1180px) / 2 + 141px);
    bottom: -28px;
    left: calc((100vw - 1180px) / 2);
    overflow: unset;

    &::after {
      width: 356px;
      height: 349px;
      transform: scale(1, 1);
      left: unset;
      right: -30px;
      top: 65px;
      z-index: 0;
    }
  }
  // .cloud {
  //   transform: scale(1, 1);
  // }
  // .heroWrapper {
  //   .curve {
  //     width: 219px;
  //     height: 265px;
  //     bottom: unset;
  //     top: 385px;
  //     left: unset;
  //     right: calc((100vw - 1280px) / 2 + 116px);
  //     transform: unset;
  //   }
  // }
}
// @include mixins.media-min(variables.$pc) {
//   .description {
//     padding-right: 234px;
//   }
//   .grandpa {
//     right: 0;
//   }
//   .heroWrapper {
//     .curve {
//       right: 116px;
//     }
//   }
// }
// !
