.icon {
  width: 32px;
  height: 32px;
  background-image: url("../../../assets/icons/social-media-icons.svg");
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}

.icon-facebook-default {
  background-position: 0 0;
}
.icon-facebook-hover {
  background-position: 0 -32px;
}
.icon-facebook-click {
  background-position: 0 -64px;
}
.icon-facebook-disable {
  background-position: 0 -96px;
}

.icon-telegram-default {
  background-position: -32px 0;
}
.icon-telegram-hover {
  background-position: -32px -32px;
}
.icon-telegram-click {
  background-position: -32px -64px;
}
.icon-telegram-disable {
  background-position: -32px -96px;
}

.icon-instagram-default {
  background-position: -64px 0;
}
.icon-instagram-hover {
  background-position: -64px -32px;
}
.icon-instagram-click {
  background-position: -64px -64px;
}
.icon-instagram-disable {
  background-position: -64px -96px;
}
