@use "../../../styles/mixins" as mixins;
@use "../../../styles/variables";

.imgAndRouteInfoWrapper {
  @include mixins.media-min(1000px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 100px;
    column-gap: 38px;
    margin-left: auto;
    width: 1070px;
  }
}

.house {
  width: 70%;
  max-width: 382px;
  height: auto;
  margin-bottom: 8px;
  display: block;
  margin-left: auto;

  @include mixins.media-min(654px) {
    margin-bottom: -3rem;
  }

  @include mixins.media-min(variables.$mobile) {
    max-width: 516px;
    margin-bottom: 0;
  }

  @include mixins.media-min(1000px) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 100%;
    height: auto;
    margin-left: 0;
  }
}

.routeInfoWrapper {
  width: 100%;
  max-width: 411px;
  margin-bottom: 45px;

  @include mixins.media-min(variables.$mobile) {
    margin-top: -127px;
    margin-bottom: 163px;
    margin-right: auto;
  }

  @include mixins.media-min(1000px) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0;
    width: 100%;
    max-width: 100%;
  }

  @include mixins.media-min(variables.$breakpoint-laptop) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0;
    width: 100%;
    max-width: 100%;
  }
}

.routeInfoTitle {
  width: 164px;
  font-family: var(--f-family-headline);
  font-size: var(--f-size-h3);
  color: rgba(var(--color-base-green));
  font-weight: 600;
  line-height: 35.15px;
  margin-bottom: 16px;
  margin-right: auto;

  @include mixins.media-min(variables.$mobile) {
    width: 240px;
    font-size: var(--f-size-h1);
    margin-bottom: 24px;
  }

  @include mixins.media-min(variables.$mobile) {
    width: 100%;
    margin-right: 0;
  }
}

.routeInfoText {
  font-family: var(--f-family-main);
  font-size: var(--f-size-body);
  font-weight: 300;
  line-height: 18.56px;
  margin-bottom: 16px;

  @include mixins.media-min(variables.$mobile) {
    margin-bottom: 24px;
  }
}

.textDotWrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
  width: fit-content;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: rgb(var(--color-black));
  border-radius: 50%;
  margin-right: 10px;
}

.textDot {
  font-family: var(--f-family-main);
  font-size: var(--f-size-body);
  font-weight: 700;
  line-height: 18.56px;
}
