@use "./../../styles/mixins" as mixins;
@use "./../../styles/variables";

.blockWrapper,
.imageWrapper {
  position: relative;
}


.blockWrapper {
  max-width: 1440px;
  margin: 0 auto;
  margin-block: 50px 64px;

  @include mixins.container-media-min(variables.$mobile) {
    margin-block: 120px 78px;
  }

  @include mixins.container-media-min(variables.$breakpoint-laptop) {
    margin-block: 130px 88px;
  }
}

.textWrapper {
  width: calc(100cqw - 40px);
  padding: 0.75rem 1rem;
  background: rgba(194, 191, 183, 0.7);
  border: 1px solid rgb(var(--color-base-green));
  border-radius: 0.5rem;
  font-family: var(--f-family-headline);
  text-align: center;
  margin: 0 auto;
  transform: translateY(50%);
  max-width: 36rem;

  @include mixins.container-media-min(variables.$mobile) {
    width: calc(100cqw - 190px);
    padding: 0.6rem clamp(16px, calc(16px + 24 * (100cqw - 768px) / 511), 40px);
    max-width: 60rem;
  }

  @include mixins.container-media-min(variables.$breakpoint-laptop) {
    width: calc(100cqw - 320px);
    padding: 0.6rem 2rem;
    max-width: 66rem;
  }

  @include mixins.container-media-min(variables.$pc) {
    width: calc(100cqw - 380px);
  }

  & p,
  & textarea {
    font-size: clamp(14px, calc(32px - 18 * (767px - 100cqw) / 392), 32px);
    line-height: 100%;

    @include mixins.container-media-min(variables.$mobile) {
      color: rgb(var(--color-white));
      line-height: 110%;
      letter-spacing: -0.005em;
      font-size: clamp(32px, calc(48px - 16 * (1279px - 100cqw) / 511), 48px);
    }

    @include mixins.container-media-min(variables.$breakpoint-laptop) {
      text-transform: uppercase;
    }
  }
}

.imageWrapper {
  width: 100%;
  box-shadow: inset 0px -35px 35px 1px rgb(255, 255, 255);
  overflow: hidden;
  height: clamp(193px, calc(567px - 374 * (767px - 100cqw) / 392), 567px);
  display: flex;
  flex-direction: column-reverse;

  @include mixins.container-media-min(variables.$mobile) {
    height: clamp(567px, calc(635px - 68 * (1279px - 100cqw) / 511), 635px);
  }
}

.image {
  z-index: -1;
  image-rendering: crisp-edges;
}

.buttonWrapper {
  margin-bottom: clamp(5px, calc(5px + 105 * (100cqw - 375px) / 392), 110px);

  @include mixins.container-media-min(variables.$mobile) {
    margin-bottom: clamp(110px, calc(110px + 15 * (100cqw - 768px) / 511), 125px);
  }

  &>a {
    width: 100%;
    display: block;
    text-align: center;
  }
}

.button {
  padding: 0.75rem;
  font-size: clamp(16px, calc(16px + 6 * (100cqw - 375px) / 392), 22px);
  z-index: 1;
}