@use "../../styles/mixins" as mixins;
@use "../../styles/variables";

.wrapper {
  width: 100%;
  padding-top: 3.4rem;
  padding-bottom: 5.95rem;
  font-family: var(--f-family-headline);
  display: flex;
  flex-direction: column;
  position: relative;
}

.headline {
  text-transform: capitalize;
  text-align: center;
  color: var(--color-base-green);
  font-size: 1.25rem;
}

.iconsWrapper {
  position: absolute;
  right: 1.5rem;
  top: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 6.75rem;
  // width: 3rem;
}

.iconAsk,
.iconArrow {
  width: 36px;
  // height: 2.6rem;
  transition: color 0.3s, stroke 0.3s;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    color: transparent;
    stroke: rgb(var(--color-base-green));
    stroke-width: 1px;
  }
}

.iconArrow {
  max-width: 1.1rem;
  max-height: 1.5rem;
}
