@use "./../../styles/mixins" as mixins;
@import "./../../styles/variables.scss";

.askWrapper,
.headlineWrapper,
.telegramButtons {
  display: flex;
}

.askWrapper {
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 40px;
  row-gap: 1.5rem;
  transition: row-gap 0.3s;
  @include mixins.media-min($mobile) {
    margin-bottom: 100px;
    row-gap: 5rem;
  }
.wrapper {
  width: 100%;
  max-width: 1440px;
  padding-top: 3.4rem;
  padding-right: 1.5rem;
  font-family: var(--f-family-headline);
  justify-content: flex-end;
}

.headlineWrapper {
  padding-right: 5.5rem;
  color: rgb(var(--color-base-green));
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  @include mixins.media-min($mobile) {
    padding-right: 5.25rem;
  }
}

.headline {
  font-family: var(--f-family-headline);
  text-transform: capitalize;
  font-size: 1.25rem;
  line-height: 3rem;
  @include mixins.media-min($mobile) {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

.askButton{
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  color: rgb(var(--color-base-green));
  transition: color 0.3s, stroke 0.3s, opacity 0.5s;

  &:hover {
    color: transparent;
    stroke: rgb(var(--color-base-green));
    stroke-width: 2;
    scale: 103%;
    circle {
      fill: rgb(var(--color-base-green));
    }
  }
  @include mixins.media-min($mobile) {
    width: 2.75rem;
    height: 2.75rem;
  }
  .askIcon {
    width: 2.75rem;
    height: 2.75rem;
    @include mixins.media-min($mobile) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}


.telegramButtons {
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  transition: opacity 0.5s;
}

.telegramButton {
  width: 3rem;
  height: 3rem;
  background-color: #2aabee;
  border-radius: 50%;
  padding: 12.5px 13px 12px 9px;
  .telegramIcon {
    width: 26px;
    height: 22px;
  }
  
  @include mixins.media-min($mobile) {
    width: 2.75rem;
    height: 2.75rem; 
    padding: 11.5px 13px 12px 7px;
  }
}

.closeButton {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.arrowUpButton {
  text-align: center;
  color: rgb(var(--color-dark-green));
  width: 3rem;
  height: 3rem;
  @include mixins.media-min($mobile) {
    width: 2.75rem;
    height: 2.75rem; 
  }
  .arrowIcon {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.showAskButton {
  @include mixins.media-max($mobile) {
    &.askWrapper {
      row-gap: 1.5rem;
    }
  }
  .askButton {
    opacity: 1;
    visibility: visible;
  }
  .telegramButtons {
    opacity: 0;
    visibility: hidden;
  }
}
.showTelegramButton {
  @include mixins.media-max($mobile) {
    &.askWrapper {
      row-gap: 3rem;
    }
  }
  .telegramButtons {
    opacity: 1;
    visibility: visible;
  }
  .askButton {
    opacity: 0;
    visibility: hidden;
  }
}