@use "../../styles/mixins" as mixins;
@use "../../styles/variables" as variables;

.hero {
  margin-top: 32px;
}

.heroWrapper {
  position: relative;

  display: grid;
  flex-direction: column;
}

.descr1 {
  @include mixins.mak-green;
  font-size: var(--f-size-button-big);
  min-width: 241px;
  width: 65%;
  padding-left: calc((100cqw - 375px) / 6);
}

.descr2 {
  justify-self: flex-end;
  font-family: var(--f-family-main);
  color: rgb(var(--color-base-green));
  font-weight: 700;
  text-align: end;

  margin-top: calc(10px + (100cqw - 375px) / 18);
  width: 281px;
  font-size: 16px;
  padding-top: 10px;
}

.grandpa {
  width: 148px;
  aspect-ratio: 1;
  position: absolute;
  top: -105px;
  right: calc(-10px + (100cqw - 375px) / 3);
  z-index: -1;

  img {
    object-fit: contain;
  }

  &::after {
    width: 180px;
    height: 160px;
    transform: scaleX(-1);
    content: "";
    position: absolute;
    right: -40px;
    bottom: -30px;
    z-index: -1;
    background-image: url("/images/backgrounds/christmasTrees.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.map {
  margin: 21px auto 0;
  position: relative;
}

.mapWrapper {
  width: 95.7%;
  aspect-ratio: 1.795;
  position: relative;
  top: 0;
  left: 2.15%;

  img {
    object-fit: contain;
  }
}

.cloudBackground {
  position: absolute;
  top: -21px;
  right: 0;
  bottom: -67px;
  left: 0;
  z-index: -1;
  color: rgba(179, 161, 137, 0.4);
}

.cloud {
  transform: scaleY(-1);
}

.curve {
  display: none;
}

.bookingForm {
  position: relative;
  z-index: 90;
  margin-top: 77px;

  &>* {
    margin: 0 auto;
  }
}

.housesTitle {
  margin-top: 95px;
  position: relative;
  padding: 20px 20px 15px 25px;

  p {
    text-align: center;
    text-transform: uppercase;
    font-size: var(--f-size-h2);
    line-height: 1.1;
  }
}

.titleOutline {
  position: absolute;
  top: 0;
  left: 0;
}

.housesWrapper {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 0;
  padding-bottom: 175px;
}

.textWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--f-family-main);
  color: rgb(var(--color-base-green));
  font-weight: 600;
  text-align: center;
  font-size: 16px;
  margin-top: -90px;

  @media (min-width: 768px) {
    font-size: var(--f-size-button-small);
  }

  @media (min-width: 1280px) {
    margin-top: 0px;
  }

  & .text {
    width: 90%;

    @media (min-width: 768px) {
      width: 90%;
    }

    @media (min-width: 1000px) {
      font-size: 20px;
      width: 831px;
    }
  }

  & .text:first-child {
    padding-bottom: 32px;
  }

  & .text:last-child {
    padding-bottom: 87px;

    @media (min-width: 768px) {
      padding-bottom: 138px;
    }
  }
}

@include mixins.container-media-min(variables.$mobile) {
  .hero {
    margin-top: 16px;
  }

  .descr1 {
    font-size: var(--f-size-h1);
    min-width: unset;
    width: 100%;
    padding-left: 0;
  }

  .descr2 {
    text-align: center;
    font-size: var(--f-size-body);
    line-height: 1.1;

    width: 539px;
    padding-bottom: 60px;
    padding-top: 0px;
  }

  .grandpa {
    width: 209px;
    top: unset;
    bottom: -156px;
    right: calc((100cqw - 768px) / 6);

    &::after {
      display: none;
    }
  }

  .map {
    margin-top: 197px;
  }

  .mapWrapper {
    width: 66%;
    aspect-ratio: 1.87;
    top: 0;
    left: 17%;
  }

  .cloudBackground {
    position: absolute;
    top: -82px;
    right: 7%;
    bottom: -18px;
    left: 4.7%;

    &::after {
      width: 215px;
      height: 208px;
      transform: scaleX(-1);
      content: "";
      position: absolute;
      left: calc(-15px + (100cqw - 768px) / 8 * 0.66);
      top: calc((100cqw - 768px) / 20 + 5%);
      z-index: -1;
      background-image: url("/images/backgrounds/christmasTrees.png");
      background-size: contain;
    }
  }

  .cloud {
    transform: scale(-1, 1);
  }

  .heroWrapper {
    .curve {
      display: block;
      position: absolute;
      bottom: -152px;
      left: 12.7%;
      width: calc((100cqw - 768px) / 8 + 143px);
      height: 173px;
      transform: scale(-1, 1);
    }
  }

  .bookingForm {
    margin-top: 60px;
  }

  .housesTitle {
    margin-top: 92px;

    p {
      font-size: var(--f-size-large);
    }
  }

  .titleOutline {
    display: none;
  }

  .housesWrapper {
    margin-top: 82px;
    gap: 55px 29px;
    justify-content: flex-start;
    padding-bottom: 175px;
  }
}

@include mixins.container-media-min(variables.$breakpoint-laptop) {
  .descr1 {
    width: 85%;
    padding-left: calc((100cqw - 1180px) / 2 - 50px);
  }

  .descr2 {
    width: 754px;
    margin-top: 35px;
    padding-bottom: 90px;
  }

  .grandpa {
    width: 314px;
    bottom: -224px;
    right: calc((100cqw - 1180px) / 2 - 50px);
    z-index: 1;
  }

  .map {
    margin-top: -30px;
  }

  .mapWrapper {
    width: 760px;
    left: calc((100cqw - 1180px) / 2 + 63px);
  }

  .cloudBackground {
    top: -123px;
    right: calc((100cqw - 1180px) / 2 + 141px);
    bottom: -28px;
    left: calc((100cqw - 1180px) / 2);

    &::after {
      width: 356px;
      height: 349px;
      transform: scale(1, 1);
      left: unset;
      right: -30px;
      top: 65px;
      z-index: 0;
    }
  }

  .cloud {
    transform: scale(1, 1);
  }

  .heroWrapper {
    .curve {
      width: 219px;
      height: 265px;
      bottom: unset;
      top: 385px;
      left: unset;
      right: calc((100cqw - 1280px) / 2 + 116px);
      transform: unset;
    }
  }

  .bookingForm {
    margin-top: 141px;
  }

  .housesTitle {
    margin-top: 180px;
  }

  .housesWrapper {
    margin-top: 80px;
    gap: 71px 62px;
    padding-bottom: 252px;
  }
}

@include mixins.container-media-min(variables.$pc) {
  .descr1 {
    padding-left: 0;
  }

  .grandpa {
    right: 0;
  }

  .heroWrapper {
    .curve {
      right: 116px;
    }
  }
}