@use "../../styles/mixins" as mixins;
@use "../../styles/variables";

.breadcrumb {
    list-style: none;
    position: relative;
    font-family: var(--f-family-main);
    font-size: var(--f-size-numbers-small);
    line-height: 1.16;
    font-weight: 300;
    letter-spacing: 0.005em;
    color: rgb(var(--color-black));
    z-index: 1;
    &:not(:last-of-type)::after {
        position: absolute;
        content: '/';
        top: 0;
        right: -9px;
    }
}
.breadcrumb:last-of-type {
    font-weight: 700;
}

@include mixins.media-min(variables.$mobile) {
    .breadcrumb {
        font-size: var(--f-size-body);
        &:not(:last-of-type)::after {
            right: -17px;
        }
    }
}
@include mixins.media-min(variables.$breakpoint-laptop) {
}
