@use "../../../styles/mixins" as mixins;
@use "../../../styles/variables" as variables;

.heroSectionWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: calc(93px + 40 * (100cqw - 375px) / 392);

  @include mixins.container-media-min(variables.$mobile) {
    margin-top: 133px;
  }
}

.hero {
  position: relative;
  width: 100%;
  width: calc(327px + 326 * (100cqw - 375px) / 392);

  @include mixins.container-media-min(variables.$mobile) {
    width: calc(653px + 527 * (100cqw - 768px) / 511);
    max-width: 1180px;
  }
}

.description {
  position: absolute;
  font-family: var(--f-family-main);
  color: rgb(var(--color-base-green));
  line-height: 14px;
  font-weight: 700;
  width: 240px;
  text-align: center;
  line-height: 110%;
  font-size: calc(12px + 4 * (100cqw - 375px) / 392);
  right: calc(100px + 116 * (100cqw - 375px) / 392);

  @include mixins.container-media-min(variables.$mobile) {
    font-size: 16px;
    right: 226px;
    right: calc(226px + 97 * (100cqw - 768px) / 511);
  }

  @include mixins.container-media-min(variables.$breakpoint-laptop) {
    right: 324px;
  }
}

.grandpa {
  position: absolute;
  top: -40px;
  z-index: -1;
  width: calc(120px + 116 * (100cqw - 375px) / 392);
  height: calc(110px + 129 * (100cqw - 375px) / 392);
  right: calc(0px + 25 * (100cqw - 375px) / 392);

  img {
    object-fit: contain;
  }

  @include mixins.container-media-min(variables.$mobile) {
    width: calc(236px + 97 * (100cqw - 768px) / 511);
    height: calc(239px + 95 * (100cqw - 768px) / 511);
    right: calc(25px - 20 * (100cqw - 768px) / 511);
    top: calc(-40px - 80 * (100cqw - 768px) / 511);
  }

  @include mixins.container-media-min(variables.$breakpoint-laptop) {
    width: 334px;
    height: 334px;
    right: -5px;
    top: -120px;
  }

  &::after {
    position: absolute;
    content: "";
    width: calc(180px + 26 * (100cqw - 375px) / 392);
    height: calc(206px + 20 * (100cqw - 375px) / 392);
    right: -24px;
    bottom: calc(-105px - 30 * (100cqw - 375px) / 392);
    background-image: url("/images/houses/house/house-trees.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;

    @include mixins.container-media-min(variables.$mobile) {
      width: 206px;
      height: 226px;
      right: -24px;
      bottom: -135px;
    }

    @include mixins.container-media-min(variables.$mobile) {
      width: calc(206px + 162 * (100cqw - 768px) / 511);
      height: calc(226px + 179 * (100cqw - 768px) / 511);
      right: calc(-24px - 1 * (100cqw - 768px) / 511);
      bottom: calc(-135px - 215 * (100cqw - 768px) / 511);
    }

    @include mixins.container-media-min(variables.$breakpoint-laptop) {
      width: 368px;
      height: 405px;
      right: -25px;
      bottom: -350px;
    }
  }
}

.curve {
  display: block;
  position: absolute;
  width: calc(83px + 7 * (100cqw - 375px) / 392);
  height: calc(91px + 14 * (100cqw - 375px) / 392);
  bottom: calc(-140px - 35 * (100cqw - 375px) / 392);
  right: calc(120px + 150 * (100cqw - 375px) / 392);

  @include mixins.container-media-min(variables.$mobile) {
    width: 90px;
    height: 105px;
    bottom: -175px;
    right: 270px;
    rotate: (0deg);
  }

  @include mixins.container-media-min(1000px) {
    rotate: (15deg);
  }

  @include mixins.container-media-min(variables.$mobile) {
    width: calc(90px + 56 * (100cqw - 768px) / 511);
    height: calc(105px + 42 * (100cqw - 768px) / 511);
    bottom: calc(-175px - 20 * (100cqw - 768px) / 511);
    right: calc(270px + 110 * (100cqw - 768px) / 511);
  }

  @include mixins.container-media-min(variables.$breakpoint-laptop) {
    width: 146px;
    height: 147px;
    bottom: -195px;
    right: 380px;
  }
}