@use "../../styles/mixins" as mixins;
@use "../../styles/variables";

.rulesContainer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 24px;
  margin-bottom: 120px;

  @include mixins.media-min(variables.$mobile) {
    padding-inline: 104px;
  }
  @include mixins.media-min(variables.$breakpoint-laptop) {
    padding-inline: 160px;
    max-width: 1440px;
  }
  @include mixins.media-min(variables.$pc) {
    padding-inline: 240px;
  }
}

.rulesTitleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -30px;

  @include mixins.media-min(550px) {
    margin-bottom: -50px;
  }

  @include mixins.media-min(variables.$mobile) {
    margin-bottom: -60px;
  }
  @include mixins.media-min(900px) {
    margin-bottom: -80px;
  }
}

.rulesTitle {
  font-family: var(--f-family-headline);
  font-size: var(--f-size-h3);
  color: rgba(var(--color-base-green));
  text-align: left;
  width: calc(100vw - 48px - 178px + 83px);
  margin-right: -50px;
  font-weight: 600;
  line-height: 23.43px;

  @include mixins.media-min(variables.$mobile) {
    font-size: var(--f-size-h1);
    width: calc(100vw - 208px - 305px + 200px);
    line-height: 36px;
  }
  @include mixins.media-min(variables.$breakpoint-laptop) {
    margin-right: 0;
  }
}

.granpa1 {
  width: clamp(178px, calc(178px + 127 * (100vw - 375px) / 392), 305px);
  height: auto;
  margin-right: -60px;
  margin-left: clamp(-15px, calc(-15px + 15 * (100vw - 375px) / 392), 0px);
  
  @include mixins.media-min(variables.$mobile) {
    width: clamp(305px, calc(305px + 58 * (100vw - 678px) / 511), 247px);
    margin-right: -160px;
  }
  
  @include mixins.media-min(variables.$breakpoint-laptop) {
    width: 427px;
    margin-top: -100px;
  }
}

.iconArrowWrapper {
  margin-bottom: 14px;
}

.iconArrow {
  stroke: rgba(var(--color-base-green));
  stroke-width: 0.5;
  width: 46px;
  fill: rgba(var(--color-base-green));
  display: block;
  margin-right: auto;
  margin-left: auto;

  @include mixins.media-min(550px) {
    width: 60px;
    margin-right: 0;
    margin-left: 180px;
  }

  @include mixins.media-min(variables.$mobile) {
    width: 76px;
    margin-left: 280px;
  }

  @include mixins.media-min(900px) {
    width: 100px;
    margin-left: 350px;
  }
  @include mixins.media-min(variables.$breakpoint-laptop) {
    width: 143px;
    margin-left: 440px;
  }
}

.rulesList {
  @include mixins.media-min(variables.$mobile) {
    margin-bottom: 73px;
  }
}

.rulesItem {
  text-align: left;
}

.rulesItem:not(:last-child) {
  margin-bottom: 38px;
}

.ruleTitle {
  font-family: var(--f-family-headline);
  font-size: var(--f-size-body-big);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 10px;
  @include mixins.media-min(variables.$mobile) {
    font-size: 28px;
  }
}

.ruleDescription {
  font-family: var(--f-family-main);
  font-size: var(--f-size-body);
  font-weight: 300;
  line-height: 1.2;
  @include mixins.media-min(variables.$mobile) {
    font-size: var(--f-size-button-small);
  }
  @include mixins.media-min(variables.$breakpoint-laptop) {
    font-size: 20px;
  }
}

.rulesRememberList {
  color: rgba(var(--color-base-green));
  padding-top: 1px;
  & > li:nth-child(2) {
    margin-top: 62px;
  }
  & > li:not(:last-child) {
    margin-bottom: 24px;
    font-family: var(--f-family-main);
    font-size: var(--f-size-button-small);
    font-weight: 600;
    line-height: 1.2;
    text-align: left;

    @include mixins.media-min(variables.$mobile) {
      font-size: var(--f-size-body-big);
    }
    @include mixins.media-min(variables.$breakpoint-laptop) {
      font-size: var(--f-size-h3);
      line-height: 27px;
    }
  }
  & > li:nth-child(1) {
    margin-bottom: -10px;
  }
  & > li:last-child {
    margin-top: 50px;
    font-family: var(--f-family-main);
    color: rgba(var(--color-black));
    text-underline-offset: 4px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
    @include mixins.media-min(variables.$mobile) {
      font-size: 18px;
    }
    @include mixins.media-min(variables.$breakpoint-laptop) {
      font-size: 20px;
      text-underline-offset: 5px;
    }
    @include mixins.media-min(variables.$mobile) {
      margin-bottom: 75px;
    }
  }
}

.grandpa2Wrapper {
  width: clamp(206px, calc(206px + 161 * (100vw - 375px) / 392), 367px);
  aspect-ratio: 1.19;
  float: right;
  margin-left: -33px;
  margin-right: -70px;
  margin-bottom: -5px;

  position: relative;
  @include mixins.media-min(variables.$mobile) {
    width: clamp(367px, calc(367px + 60 * (100vw - 768px) / 511), 427px);
  }
}

.rulesRememberSpan {
  border-bottom: 1.5px solid rgba(var(--color-base-green));
  line-height: 0.9;
  display: inline-block;
  white-space: nowrap;
  margin-right: 5px;
}
@include mixins.media-min(variables.$mobile) {
  .rulesRememberSpan {
    border-bottom: 2px solid rgba(var(--color-base-green));
  }
}